{{template "header.html".}}
{{template "app/templates/navbar.html".}}
<div class="relative mt-8 py-10 bg-white overflow-hidden">
    <div class="relative px-4 sm:px-6 lg:px-8">
        <div class="max-w-screen-xl mx-auto">
            <div class="mb-4">
                <h1 class="mt-8 mb-2">
                    <span class="mt-8 block text-4xl leading-8 font-semibold text-gray-900 sm:text-4xl">
                        Who We Are
                    </span>
                </h1>
                <hr>
                <h2 class="mt-8 text-2xl font-semibold">Committee for transgenic axolotl lines</h2>
                <p class="mt-2">-   To be announced</p>
                <h2 class="mt-2 text-2xl font-semibold">Committee for gene nomenclature</h2>
                <p class="mt-2">-   To be announced</p>
                <h2 class="mt-2 text-2xl font-semibold">Committee for antibodies list</h2>
                <p class="mt-2">-   To be announced</p>
                <h2 class="mt-2 text-2xl font-semibold">Committee overseeing general website maintenance</h2>
                <p class="mt-2">-   To be announced</p>
                <h2 class="mt-2 text-2xl font-semibold">Committee for website funding</h2>
                <p class="mt-2">-   To be announced</p>

                <h2 class="mt-8 text-2xl font-semibold">Contact us</h2>
                <p class="mt-2">
                    To ask questions, point out any problem with the content, or suggest improvements to AxoBase, please email <a class="text-axo-green" href="mailto:info@axobase.org">info@axobase.org</a>.
                </p>

                <h2 class="mt-8 text-2xl font-semibold">Terms and Conditions of use</h2>
                <p class="mt-2">
                    Data available on AxoBase are to be used only for purposes of research and education. Commercial use is prohibited without written permission from AxoBase.
                </p>
                <p class="mt-2">
                    By submitting images and data to AxoBase, you give AxoBase permission to re-display these images on any page of the website.
                </p>

                <h2 class="mt-8 text-2xl font-semibold">Funding</h2>
                <p class="mt-2">
                    AxoBase is a community driven project. We thank MDIBL for their support in maintaining this website. With more support from the community and funding agencies, we hope to integrate other features in the future.
                </p>
            </div>
        </div>
    </div>
</div>
{{template "footer-nav.html".}}