{{template "header.html".}}
{{template "app/templates/navbar.html".}}
<div class="relative mt-8 py-10 bg-white overflow-hidden">
    <div class="relative px-4 sm:px-6 lg:px-8">
        <div class="max-w-screen-xl mx-auto">
            <div class="mb-4">
                <h1 class="mt-8 mb-2">
                    <span class="mt-8 block text-4xl leading-8 font-semibold text-gray-900 sm:text-4xl">
                        Who We Are
                    </span>
                </h1>
                <hr>
                <p class="mt-8">
                    We are an international group of researchers who are committed to the empowerment of
                    axolotl and other salamanders for research purposes. Since 2018,
                    our community has gathered to hold meetings where we not only exchange
                    scientific progress, but also discuss issues that are necessary for the progress
                    of the field.
                </p>
                <h2 class="mt-8 text-2xl font-semibold">Next Meeting</h2>
                <p class="mt-2">
                   <a class="text-axo-green" href="https://sites.google.com/view/salmander2024/" target="_blank">Amphibian Research Center, Hiroshima, Japan on July 31- August 2 2024</a>
                </p>

                <h2 class="mt-8 text-2xl font-semibold">History of Meetings</h2>
                <ol class="mt-2 list-decimal list-inside">
                    <li class="mt-2">Research &ndash; Institute of Molecular Pathology (IMP), Vienna in 2018</li>
                    <li class="mt-2">Northeastern University, Boston in 2019</li>
                    <li class="mt-2">The 3<sup>rd</sup> edition of the meeting for 2020 was postponed due to the COVID-19 Pandemic.</li>
                    <li class="mt-2">Center for Regenerative Therapies (CRTD), TU Dresden, Germany in 2021.</li>
                    <li class="mt-2">Istanbul Medipol University, Istanbul, Turkey on 22-24 August 2022.</li>
                </ol>
                <h2 class="mt-8 text-2xl font-semibold">Committee for transgenic axolotl lines</h2>
                <ol class="mt-2 list-none list-inside">
                    <li class="mt-2">Ji-Feng Fei, GDG Hospital, China</li>
                    <li class="mt-2">Stephen Randal Voss, University of Kentucky, USA</li>
                    <li class="mt-2">Member from Tanaka group, IMP, Austria</li>
                    <li class="mt-2">Hillary Maddin, Carleton University, Canada</li>
                </ol>
                <h2 class="mt-8 text-2xl font-semibold">Committee for gene nomenclature</h2>
                <ol class="mt-2 list-none list-inside">
                    <li class="mt-2">Ji-Feng Fei, SCNU, China</li>
                    <li class="mt-2">Elly Tanaka, IMP, Austria</li>
                    <li class="mt-2">Prayag Murawala, MDIBL, USA</li>
                    <li class="mt-2">Sergej Nowoshilow, IMP, Austria</li>
                    <li class="mt-2">Stephen Randal Voss, University of Kentucky, USA    </li>
                </ol>
                <h2 class="mt-8 text-2xl font-semibold">Committee for antibodies list</h2>
                <ol class="mt-2 list-none list-inside">
                    <li class="mt-2">Crystal Rogers, UC-Davis, USA</li>
                    <li class="mt-2">James Godwin, MDIBL, USA</li>
                    <li class="mt-2">James Monaghan, Northeastern University, USA</li>
                    <li class="mt-2">Rosario Sanchez, LMU, Germany </li>
                </ol>
                <h2 class="mt-8 text-2xl font-semibold">Committee overseeing general website maintenance</h2>
                <ol class="mt-2 list-none list-inside">
                    <li class="mt-2">J Heath Fuqua, MDIBL, USA</li>
                    <li class="mt-2">Joel Graber, MDIBL, USA</li>
                    <li class="mt-2">Sergej Nowoshilow, IMP, Austria</li>
                    <li class="mt-2">Stephen Randal Voss, University of Kentucky, USA</li>
                </ol>
                <h2 class="mt-8 text-2xl font-semibold">Committee for website funding</h2>
                <ol class="mt-2 list-none list-inside">
                    <li class="mt-2">Andras Simon, Karolinska institute, Sweden</li>
                    <li class="mt-2">Elly Tanaka, IMP, Austria</li>
                    <li class="mt-2">Jessica Whited, Harvard University, USA</li>
                    <li class="mt-2">Joshua Currie, Wake Forest University, USA</li>
                    <li class="mt-2">Karen Echeverri, Marine Biological Laboratory, USA</li>
                    <li class="mt-2">Katia Del-Rio Tsonis, Miami University, USA</li>
                    <li class="mt-2">Prayag Murawala, MDIBL, USA</li>
                    <li class="mt-2">Maximina Yun, CRTD, Germany</li>
                    <li class="mt-2">Stephen Randal Voss, University of Kentucky, USA </li>
                </ol>

                <h2 class="mt-8 text-2xl font-semibold">Terms and Conditions of use</h2>
                <p class="mt-2">
                    Data available on AxoBase are to be used only for purposes of research and education. Commercial use is prohibited without written permission from AxoBase.
                </p>
                <p class="mt-2">
                    By submitting images and data to AxoBase, you give AxoBase permission to re-display these images on any page of the website.
                </p>

                <h2 class="mt-8 text-2xl font-semibold">Funding</h2>
                <p class="mt-2">
                    AxoBase is a community driven project. We thank <a class="text-axo-green" href="https://www.mdibl.org" target="_blank">MDIBL</a> for their support in maintaining this website. With more support from the community and funding agencies, we hope to integrate other features in the future.
                </p>

                <h2 class="mt-8 text-2xl font-semibold">Contact us</h2>
                <p class="mt-2">
                    To ask questions, point out any problem with the content, or suggest improvements to AxoBase, please email <a class="text-axo-green" href="mailto:info@axobase.org">info@axobase.org</a>.
                </p>
                <h2 class="mt-8 text-2xl font-semibold">Website Author</h2>
                <ol class="mt-2 list-none list-inside">
                    <li class="mt-2">Chris Wilson, USA</li>
                </ol>
            </div>
        </div>
    </div>
</div>
{{template "footer-nav.html".}}
