{{template "header.html".}}
{{template "app/templates/navbar.html".}}
<div class="relative mt-8 py-10 bg-white overflow-hidden" x-data="{imgModalShow:false, descModalShow:false, imgUrl:'', modalDescBody:''}">
    <div class="relative px-4 sm:px-6 lg:px-8">
        <div class="max-w-screen-xl mx-auto">
            <div class="mb-4">
                <h1 class="mt-8 mb-2">
                    <span class="mt-8 block text-4xl leading-8 font-semibold text-gray-900 sm:text-4xl">
                        Salamander Antibodies
                    </span>
                </h1>
                <hr>
            </div>
            <p class="mt-8 text-lg">
                Dear Salamander community.  Finding reliable reagent for use in salamander
                models can be a challenge.  The community has compiled a list of trusted
                reagents to help you with your salamander research. The database can be
                previewed below, or you can login (with a free account) to the database with
                full search capabilities for application, target or species at the following
                this <a class="text-axo-green"
                href="https://airtable.com/invite/l?inviteId=invRUtFAz9bCnHVr6&inviteToken=7501f9a64071ebe3bcc8827290253769b4370df3f203ccc9e21ea23986ef6c64" target="_blank">link</a>.
            </p>
            <p class="mt-2 text-lg">
                Please submit your validated and trusted salamander reactive antibodies <a
                class="text-axo-green" href="https://airtable.com/shrsjJcYLZe3EZghM" target="_blank">here</a>.
                The fillable form is quick to complete with dropdown menus. Your community thanks you!
            </p>
            <p class="mt-2 text-lg">
                Please report any poor performing antibodies here and these will be reviewed by
                the antibody committee co/. <a class="text-ax-green"
                href="mailto:jgodwin@mdibl.org">jgodwin@mdibl.org</a>.
            </p>
        </div>
        <div class="max-w-screen-xl mx-auto">
            <!-- This example requires Tailwind CSS v2.0+ -->
            <div class="flex flex-col max-h-screen pt-10">
                <div class="flex-grow overflow-auto">
                    <table class="table-fixed min-w-full border-t border-gray-200 divide-y divide-gray-200">
                        <thead>
                            <tr>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-semibold bg-gray-100 edium text-gray-500 uppercase whitespace-normal sticky top-0 border-t border-l border-gray-200">
                                    Antigen Target
                                </th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-semibold bg-gray-100 edium text-gray-500 uppercase whitespace-normal sticky top-0 border-t border-l border-gray-200">
                                    Cell Types
                                </th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-semibold bg-gray-100 text-gray-500 uppercase whitespace-normal sticky top-0 border-t border-l border-gray-200">
                                    Example Images
                                </th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-semibold bg-gray-100 text-gray-500 uppercase whitespace-normal sticky top-0 border-t border-l border-gray-200">
                                    Vendor
                                </th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-semibold bg-gray-100 text-gray-500 uppercase whitespace-normal sticky top-0 border-t border-l border-gray-200">
                                    Secondary Validation
                                </th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-semibold bg-gray-100 text-gray-500 uppercase whitespace-normal sticky top-0 border-t border-l border-gray-200">
                                    Dilution
                                </th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-semibold bg-gray-100 text-gray-500 uppercase whitespace-normal sticky top-0 border-t border-l border-gray-200">
                                    Fixation
                                </th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-semibold bg-gray-100 text-gray-500 uppercase whitespace-normal sticky top-0 border-t border-l border-gray-200">
                                    Application
                                </th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-semibold bg-gray-100 text-gray-500 uppercase whitespace-normal sticky top-0 border-t border-l border-gray-200">
                                    Isotype
                                </th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-semibold bg-gray-100 text-gray-500 uppercase whitespace-normal sticky top-0 border-t border-l border-gray-200">
                                    Clone Name
                                </th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-semibold bg-gray-100 text-gray-500 uppercase whitespace-normal sticky top-0 border-t border-l border-gray-200">
                                    Species Reactivity
                                </th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-semibold bg-gray-100 text-gray-500 uppercase whitespace-normal sticky top-0 border-t border-l border-gray-200">
                                    Description
                                </th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-semibold bg-gray-100 text-gray-500 uppercase whitespace-normal sticky top-0 border-t border-l border-gray-200">
                                    Catalog Number
                                </th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-semibold bg-gray-100 text-gray-500 uppercase whitespace-normal sticky top-0 border-t border-l border-gray-200">
                                    Vendor Page Link
                                </th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-semibold bg-gray-100 text-gray-500 uppercase whitespace-normal sticky top-0 border-t border-l border-gray-200">
                                    Publication Links
                                </th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-semibold bg-gray-100 text-gray-500 uppercase whitespace-normal sticky top-0 border-t border-l border-gray-200">
                                    Notes
                                </th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-semibold bg-gray-100 text-gray-500 uppercase whitespace-normal sticky top-0 border-t border-l border-gray-200">
                                    Submitted By
                                </th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-semibold bg-gray-100 text-gray-500 uppercase whitespace-normal sticky top-0 border-t border-l border-gray-200">
                                    Rating
                                </th>
                            </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-200">
                            {{range .records}}
                            <tr>
                                <td class="border-l border-gray-200 px-6 py-4 text-xs">
                                    {{.AntigenTarget}}
                                </td>
                                <td class="border-l border-gray-200 px-6 py-4 text-xs">{{.CellTypes}}</td>
                                <td class="border-l border-gray-200 px-6 py-4 text-xs">
                                    <button @click="imgUrl='{{.ExampleImages | FormatScreenShotURL}}' ; $refs.modalImg.src=imgUrl ; imgModalShow=true">
                                        <img class="w-full" src="{{.ExampleImages | FormatScreenShotURL}}">
                                    </button>
                                </td>
                                <td class="border-l border-gray-200 px-6 py-4 text-xs">{{.Vendor}}</td>
                                <td class="border-l border-gray-200 px-6 py-4 text-xs">{{.SecondaryValidation}}</td>
                                <td class="border-l border-gray-200 px-6 py-4 text-xs">{{.Dilution}}</td>
                                <td class="border-l border-gray-200 px-6 py-4 text-xs">{{.Fixation}}</td>
                                <td class="border-l border-gray-200 px-6 py-4 text-xs">{{.Application}}</td>
                                <td class="border-l border-gray-200 px-6 py-4 text-xs">{{.Isotype}}</td>
                                <td class="border-l border-gray-200 px-6 py-4 text-xs">{{.CloneName}}</td>
                                <td class="border-l border-gray-200 px-6 py-4 text-xs">{{.SpeciesReactivity}}</td>
                                <td class="border-l border-gray-200 px-6 py-4 text-xs">
                                    <a class="hover:underline" href="#" @click="modalDescBody='{{.Description}}'; $refs.descModalContent.innerHTML=modalDescBody ; descModalShow=true">{{.Description}}</a>
                                </td>
                                <td class="border-l border-gray-200 px-6 py-4 text-xs">{{.CatalogNum}}</td>
                                <td class="border-l border-gray-200 px-6 py-4 text-xs">
                                    {{if ne .VendorPageLink ""}}
                                    <a class="text-axo-green" href="{{.VendorPageLink}}" target="_blank">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
                                        </svg>
                                    </a>
                                    {{else}}
                                    N/A
                                    {{end}}
                                </td>
                                <td class="border-l border-gray-200 px-6 py-4 text-xs">
                                    {{if ne .PublicationLinks ""}}
                                    <a class="text-axo-green" href="{{.PublicationLinks | FormatPublicationURL}}" target="_blank">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
                                        </svg>
                                    </a>
                                    {{else}}
                                    N/A
                                    {{end}}
                                </td>
                                <td class="border-l border-gray-200 px-6 py-4 text-xs">{{.Notes}}</td>
                                <td class="border-l border-gray-200 px-6 py-4 text-xs">{{.SubmittedBy}}</td>
                                <td class="border-l border-gray-200 px-6 py-4 text-xs">{{.Rating}}</td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Example image modal -->
    <div class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true" x-show="imgModalShow">
        <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
            <!--
              Background overlay, show/hide based on modal state.

              Entering: "ease-out duration-300"
                From: "opacity-0"
                To: "opacity-100"
              Leaving: "ease-in duration-200"
                From: "opacity-100"
                To: "opacity-0"
            -->
            <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
            <!-- This element is to trick the browser into centering the modal contents. -->
            <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
            <!--
              Modal panel, show/hide based on modal state.

              Entering: "ease-out duration-300"
                From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                To: "opacity-100 translate-y-0 sm:scale-100"
              Leaving: "ease-in duration-200"
                From: "opacity-100 translate-y-0 sm:scale-100"
                To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            -->
            <div class="inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full sm:p-6" @click.away="imgModalShow=false">
                <div>
                    <img class="w-full" x-ref="modalImg">
                </div>
            </div>
        </div>
    </div>
    <!-- Description pop-up modal -->
    <div class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true" x-show="descModalShow">
      <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
        <!--
          Background overlay, show/hide based on modal state.

          Entering: "ease-out duration-300"
            From: "opacity-0"
            To: "opacity-100"
          Leaving: "ease-in duration-200"
            From: "opacity-100"
            To: "opacity-0"
        -->
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>

        <!-- This element is to trick the browser into centering the modal contents. -->
        <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

        <!--
          Modal panel, show/hide based on modal state.

          Entering: "ease-out duration-300"
            From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            To: "opacity-100 translate-y-0 sm:scale-100"
          Leaving: "ease-in duration-200"
            From: "opacity-100 translate-y-0 sm:scale-100"
            To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        -->
        <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:align-middle sm:max-w-lg sm:w-full">
            <div class="mt-3 text-left sm:m-5" @click.away="descModalShow=false">
                <p class="text-lg font-light text-gray-500" x-ref="descModalContent">
                </p>
            </div>
        </div>
      </div>
    </div>
</div>
{{template "footer-nav.html".}}