{{template "header.html".}}
{{template "app/templates/navbar.html".}}
<div class="relative mt-8 py-10 bg-white overflow-hidden">
    <div class="relative px-4 sm:px-6 lg:px-8">
        <div class="max-w-screen-xl mx-auto">
            <div class="mb-4">
                <h1 class="mt-8 mb-2">
                    <span class="mt-8 block text-4xl leading-8 font-semibold text-gray-900 sm:text-4xl">
                        Salamander Antibodies
                    </span>
                </h1>
                <hr>
            </div>
            <h2 class="mt-2 text-xl">
                A description of this data here.
            </h2>
        </div>
        <div class="max-w-screen-xl mx-auto">
            <!-- This example requires Tailwind CSS v2.0+ -->
            <div class="flex flex-col max-h-96 pt-10">
                <div class="flex-grow overflow-auto">
                    <table class="table-auto min-w-full border-t border-gray-200 divide-y divide-gray-200">
                        <thead>
                            <tr>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-semibold bg-gray-100 edium text-gray-500 uppercase whitespace-normal sticky top-0 border-t border-l border-gray-200">
                                    Antigen Target
                                </th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-semibold bg-gray-100 edium text-gray-500 uppercase whitespace-normal sticky top-0 border-t border-l border-gray-200">
                                    Cell Types
                                </th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-semibold bg-gray-100 text-gray-500 uppercase whitespace-normal sticky top-0 border-t border-l border-gray-200">
                                    Example Images
                                </th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-semibold bg-gray-100 text-gray-500 uppercase whitespace-normal sticky top-0 border-t border-l border-gray-200">
                                    Vendor
                                </th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-semibold bg-gray-100 text-gray-500 uppercase whitespace-normal sticky top-0 border-t border-l border-gray-200">
                                    Secondary Validation
                                </th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-semibold bg-gray-100 text-gray-500 uppercase whitespace-normal sticky top-0 border-t border-l border-gray-200">
                                    Dilution
                                </th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-semibold bg-gray-100 text-gray-500 uppercase whitespace-normal sticky top-0 border-t border-l border-gray-200">
                                    Fixation
                                </th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-semibold bg-gray-100 text-gray-500 uppercase whitespace-normal sticky top-0 border-t border-l border-gray-200">
                                    Application
                                </th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-semibold bg-gray-100 text-gray-500 uppercase whitespace-normal sticky top-0 border-t border-l border-gray-200">
                                    Isotype
                                </th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-semibold bg-gray-100 text-gray-500 uppercase whitespace-normal sticky top-0 border-t border-l border-gray-200">
                                    Clone Name
                                </th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-semibold bg-gray-100 text-gray-500 uppercase whitespace-normal sticky top-0 border-t border-l border-gray-200">
                                    Species Reactivity
                                </th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-semibold bg-gray-100 text-gray-500 uppercase whitespace-normal sticky top-0 border-t border-l border-gray-200">
                                    Description
                                </th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-semibold bg-gray-100 text-gray-500 uppercase whitespace-normal sticky top-0 border-t border-l border-gray-200">
                                    Catalog Number
                                </th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-semibold bg-gray-100 text-gray-500 uppercase whitespace-normal sticky top-0 border-t border-l border-gray-200">
                                    Vendor Page Link
                                </th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-semibold bg-gray-100 text-gray-500 uppercase whitespace-normal sticky top-0 border-t border-l border-gray-200">
                                    Publication Links
                                </th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-semibold bg-gray-100 text-gray-500 uppercase whitespace-normal sticky top-0 border-t border-l border-gray-200">
                                    Notes
                                </th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-semibold bg-gray-100 text-gray-500 uppercase whitespace-normal sticky top-0 border-t border-l border-gray-200">
                                    Submitted By
                                </th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-semibold bg-gray-100 text-gray-500 uppercase whitespace-normal sticky top-0 border-t border-l border-gray-200">
                                    Rating
                                </th>
                            </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-200">
                            {{range .records}}
                            <tr>
                                <td class="border-l border-gray-200 px-6 py-4 text-xs">
                                    {{.AntigenTarget}}
                                </td>
                                <td class="border-l border-gray-200 px-6 py-4 text-xs">{{.CellTypes}}</td>
                                <td class="border-l border-gray-200 px-6 py-4 text-xs">
                                   	<img class="w-40" src="{{.ExampleImages | FormatScreenShotURL}}">
                                </td>
                                <td class="border-l border-gray-200 px-6 py-4 text-xs">{{.Vendor}}</td>
                                <td class="border-l border-gray-200 px-6 py-4 text-xs">{{.SecondaryValidation}}</td>
                                <td class="border-l border-gray-200 px-6 py-4 text-xs">{{.Dilution}}</td>
                                <td class="border-l border-gray-200 px-6 py-4 text-xs">{{.Fixation}}</td>
                                <td class="border-l border-gray-200 px-6 py-4 text-xs">{{.Application}}</td>
                                <td class="border-l border-gray-200 px-6 py-4 text-xs">{{.Isotype}}</td>
                                <td class="border-l border-gray-200 px-6 py-4 text-xs">{{.CloneName}}</td>
                                <td class="border-l border-gray-200 px-6 py-4 text-xs">{{.SpeciesReactivity}}</td>
                                <td style="width: 300px;" class="border-l border-gray-200 px-6 py-4 text-xs">{{.Description}}</td>
                                <td class="border-l border-gray-200 px-6 py-4 text-xs">{{.CatalogNum}}</td>
                                <td class="border-l border-gray-200 px-6 py-4 text-xs">
                                	{{if ne .VendorPageLink ""}}
                                	<a class="text-axo-green" href="{{.VendorPageLink}}" target="_blank">
	                                	<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
										  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
										</svg>
									</a>
									{{else}}
									N/A
									{{end}}
                                </td>
                                <td class="border-l border-gray-200 px-6 py-4 text-xs">
                                	{{if ne .PublicationLinks ""}}
                                	<a class="text-axo-green" href="{{.PublicationLinks | FormatPublicationURL}}" target="_blank">
	                                	<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
										  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
										</svg>
									</a>
									{{else}}
									N/A
									{{end}}
                                </td>
                                <td class="border-l border-gray-200 px-6 py-4 text-xs">{{.Notes}}</td>
                                <td class="border-l border-gray-200 px-6 py-4 text-xs">{{.SubmittedBy}}</td>
                                <td class="border-l border-gray-200 px-6 py-4 text-xs">{{.Rating}}</td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{{template "footer-nav.html".}}