{{template "header.html".}}
{{template "app/templates/navbar.html".}}
<div class="relative mt-8 py-10 bg-white overflow-hidden">
    <div class="relative px-4 sm:px-6 lg:px-8">
        <div class="max-w-screen-xl mx-auto">
            <div class="mb-4">
                <h1 class="mt-8 mb-2">
                    <span class="mt-8 block text-4xl leading-8 font-semibold text-gray-900 sm:text-4xl">
                        Databases
                    </span>
                </h1>
                <hr>
                <p class="mt-8 text-lg font-normal">
                    This is a compilation of most useful resources for axolotl research. If you have
                    created a resource and would like to list it here, then please write an email to
                    <a class="text-axo-green" href="mailto:info@axobase.org">info@axobase.org</a> with the details.
                </p>
                <h2 class="mt-8 text-2xl font-semibold">
                    Axolotl Genome
                </h2>
                <ol class="list-decimal list-inside">
                    <li class="mt-2">
                        UCSC genome browser (<a class="text-axo-green"
                        href="http://genome.ucsc.edu/cgi-bin/hgGateway?genome=AmexG.v6&hubUrl=http://ambystoma.uky.edu/hubExamples/hubAssembly/hub_AmexG_v6/hub.txt">link</a>)
                        - Maintained by AGSC (Smith et al, <a class="text-axo-green" href="https://genome.cshlp.org/content/29/2/317.long">Genome Research</a>, 2019)
                    </li>
                    <li class="mt-2">
                        USCS genome browser (<a class="text-axo-green"
                        href="https://genome.axolotl-omics.org/cgi-bin/hgGateway">link</a>) - Maintained
                        by Tanaka Lab (Schloissing et al, <a class="text-axo-green"
                        href="https://www.pnas.org/content/118/15/e2017176118.long">PNAS</a>, 2021;
                        Nowoshilow et al, <a class="text-axo-green"
                        href="https://www.nature.com/articles/nature25458">Nature</a>, 2018)
                    </li>
                </ol>
                <h2 class="mt-8 text-2xl font-semibold">
                    Axolotl Transcriptome
                </h2>
                <ol class="list-decimal list-inside" start=3>
                    <li class="mt-2">
                        Axolotl-omics website (<a class="text-axo-green" href="https://www.axolotl-omics.org/">link</a>) - Maintained by Tanaka Lab (Nowoshilow et al,
                        <a class="text-axo-green" href="https://www.sciencedirect.com/science/article/pii/S0014482720303906">Experimental Cell Research</a>, 2020)
                    </li>
                </ol>
                <h2 class="mt-8 text-2xl font-semibold">
                    Axolotl Resources
                </h2>
                <ol class="list-decimal list-inside" start=4>
                    <li class="mt-2">
                        Sal-site (<a class="text-axo-green" href="https://ambystoma.uky.edu/">link</a>) – Maintained by AGSC - NIH P40 funded Ambystoma genomic
                        stock center for many useful resources and ordering axolotl
                    </li>
                    <li class="mt-2">
                        Axologl (<a class="text-axo-green" href="https://axologl.axolotl-omics.org/html/index.html">link</a>) – Maintained by Tanaka Lab – in situ hybridization images of many
                        limb blastema genes (Knapp et al, <a class="text-axo-green" href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0061352">Plos One</a>, 2013)
                    </li>
                    <li class="mt-2">
                        Wiki (<a class="text-axo-green" href="https://wiki.tanakalab.org/index.php/Overview">link</a>) – Wikipedia page maintained by Tanaka Lab – for day-to-day resources
                    </li>
                </ol>
                <h2 class="mt-8 text-2xl font-semibold">
                    Salamander Research Network
                </h2>
                <ol class="list-decimal list-inside" start=7>
                    <li class="mt-2">
                        A Slack Workspace has been setup to facilitate communication among salamander
                        researchers. If you have not already signed up, please contact <a class="text-axo-green" href="mailto:mkhurgel@bridgewater.edu">Moshe Khurgel</a> for
                        an invitation to join!
                    </li>
                </ol>
                <h2 class="mt-8 text-2xl font-semibold">
                    Other Salamander Resources
                </h2>
                <ol class="list-decimal list-inside" start=8>
                    <li class="mt-2">
                        <i>Notopthalmus viridescenes</i> <a class="text-axo-green" href="http://newtomics.mpi-bn.mpg.de/">transcriptome</a> (Braun Lab)
                    </li>
                    <li class="mt-2">
                        <i>Notopthalmus viridescenes</i> <a class="text-axo-green" href="http://sandberg.cmb.ki.se/redspottednewt/">transcriptome</a> (Simon Lab)
                    </li>
                    <li class="mt-2">
                        <i>Pleurodeles waltl</i> <a class="text-axo-green" href="https://www.nibb.ac.jp/imori/main/?page_id=8">transcriptome</a> (Hayashi Lab)
                    </li>

                </ol>
            </div>
        </div>
    </div>
</div>
{{template "footer-nav.html".}}