{{template "header.html".}}
{{template "app/templates/navbar.html".}}
<div class="relative mt-8 py-10 bg-white overflow-hidden">
    <div class="relative px-4 sm:px-6 lg:px-8">
        <div class="max-w-screen-xl mx-auto">
            <div class="mb-4">
                <h1 class="mt-8 mb-2">
                    <span class="mt-8 block text-4xl leading-8 font-semibold text-gray-900 sm:text-4xl">
                        Reference Databases
                    </span>
                </h1>
                <hr>
            </div>
            <div class="grid sm:grid-cols-1 md:grid-cols-2 gap-4">
                <div>
                    <h2 class="mt-8 text-2xl font-semibold">
                        Axolotl Databases
                    </h2>
                    <ol class="list-decimal list-inside">
                        <li class="mt-2">
                            <a class="text-axo-green" href="https://genome.axolotl-omics.org/">Axolotl genome</a>
                        </li>
                        <li class="mt-2">
                            <a class="text-axo-green" href="https://www.axolotl-omics.org/">Axolotl-omics website</a>
                        </li>
                        <li class="mt-2">
                            <a class="text-axo-green" href="https://ambystoma.uky.edu/">Sal-site (Ambystoma stock centre)</a>
                        </li>
                        <li class="mt-2">
                            <a class="text-axo-green" href="https://salamander-research.slack.com/home">Salamander Slack</a>
                        </li>
                        <li class="mt-2">
                            <a class="text-axo-green" href="https://axologl.axolotl-omics.org/html/index.html">Axologle</a>
                        </li>
                        <li class="mt-2">
                            <a class="text-axo-green" href="http://tanakalab.org/resources/">Resource page of the Tanaka Lab</a>
                        </li>
                        <li class="mt-2">
                            <a class="text-axo-green" href="https://wiki.tanakalab.org/index.php/Overview">Wikipage of the Tanaka Lab</a>
                        </li>
                        <li class="mt-2">
                            <a class="text-axo-green" href="https://blast.ncbi.nlm.nih.gov/Blast.cgi">NCBI-Blast</a>
                        </li>
                    </ol>
                </div>
                <div>
                    <h2 class="mt-8 mb-4 text-2xl font-semibold">
                        Other Salamander Resources
                    </h2>
                    <ol class="list-decimal list-inside">
                        <li class="mt-2">
                            Notopthalmus viridescenes <a class="text-axo-green" href="http://newtomics.mpi-bn.mpg.de/">transcriptome</a> (Braun Lab)
                        </li>
                        <li class="mt-2">
                            Notopthalmus viridescenes <a class="text-axo-green" href="http://sandberg.cmb.ki.se/redspottednewt/">transcriptome</a> (Simon Lab)
                        </li>
                        <li class="mt-2">
                            Pleurodeles waltl <a class="text-axo-green" href="https://www.nibb.ac.jp/imori/main/?page_id=8">transcriptome</a> (Hayashi Lab)
                        </li>
                    </ol>
                    <h2 class="mt-8 mb-4 text-2xl font-semibold">
                        Institutes in Maine
                    </h2>
                    <ol class="list-decimal list-inside">
                        <li class="mt-2">
                            <a class="text-axo-green" href="https://mdibl.org/">Mount Desert Biological Laboratory (MDIBL)</a>
                        </li>
                        <li class="mt-2">
                            <a class="text-axo-green" href="https://www.jax.org/">The Jackson Labs</a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
{{template "footer-nav.html".}}