{{template "header.html".}}
{{template "app/templates/navbar.html".}}
<div class="relative py-16 bg-white overflow-hidden">
    <div class="hidden lg:block lg:absolute lg:inset-y-0 lg:h-full lg:w-full">
        <div class="relative h-full text-lg max-w-prose mx-auto" aria-hidden="true">
        </div>
    </div>
    <div class="relative px-4 sm:px-6 lg:px-8">
        <div class="text-lg max-w-prose mx-auto">
            <h1 class="mt-8 mb-10">
                <span class="mt-8 block text-4xl text-center leading-8 font-semibold text-gray-900 sm:text-4xl">Reference Databases
                </span>
            </h1>
        </div>
        <div class="max-w-screen-lg mx-auto">
            <h2 class="mt-8 mb-4 text-2xl font-semibold">
                Axolotl Databases
            </h2>
            <ol class="list-decimal list-inside">
                <li class="mt-2">
                    <a class="text-axo-green" href="https://genome.axolotl-omics.org/">Axolotl genome</a>
                </li>
                <li class="mt-2">
                    <a class="text-axo-green" href="https://www.axolotl-omics.org/">Axolotl-omics website</a>
                </li>
                <li class="mt-2">
                    <a class="text-axo-green" href="https://ambystoma.uky.edu/">Sal-site (Ambystoma stock centre)</a>
                </li>
                <li class="mt-2">
                    <a class="text-axo-green" href="https://salamander-research.slack.com/home">Salamander Slack</a>
                </li>
                <li class="mt-2">
                    <a class="text-axo-green" href="https://axologl.axolotl-omics.org/html/index.html">Axologle</a>
                </li>
                <li class="mt-2">
                    <a class="text-axo-green" href="http://tanakalab.org/resources/">Resource page of the Tanaka Lab</a>
                </li>
                <li class="mt-2">
                    <a class="text-axo-green" href="https://wiki.tanakalab.org/index.php/Overview">Wikipage of the Tanaka Lab</a>
                </li>
                <li class="mt-2">
                    <a class="text-axo-green" href="https://blast.ncbi.nlm.nih.gov/Blast.cgi">NCBI-Blast</a>
                </li>
            </ol>
            <h2 class="mt-8 mb-4 text-2xl font-semibold">
                Other Salamander Resources
            </h2>
            <ol class="list-decimal list-inside">
                <li class="mt-2">
                    Notopthalmus viridescenes <a class="text-axo-green" href="http://newtomics.mpi-bn.mpg.de/">transcriptome</a> (Braun Lab)
                </li>
                <li class="mt-2">
                    Notopthalmus viridescenes <a class="text-axo-green" href="http://sandberg.cmb.ki.se/redspottednewt/">transcriptome</a> (Simon Lab)
                </li>
                <li class="mt-2">
                    Pleurodeles waltl <a class="text-axo-green" href="https://www.nibb.ac.jp/imori/main/?page_id=8">transcriptome</a> (Hayashi Lab)
                </li>
            </ol>
            <h2 class="mt-8 mb-4 text-2xl font-semibold">
                Institutes in Maine
            </h2>
            <ol class="list-decimal list-inside">
                <li class="mt-2">
                    <a class="text-axo-green" href="https://mdibl.org/">Mount Desert Biological Laboratory (MDIBL)</a>
                </li>
                <li class="mt-2">
                    <a class="text-axo-green" href="https://www.jax.org/">The Jackson Labs</a>
                </li>
            </ol>
        </div>
    </div>
</div>