{{template "header.html".}}
{{template "app/templates/navbar.html".}}
<div class="relative mt-8 py-10 bg-white overflow-hidden">
	<div class="relative px-4 sm:px-6 lg:px-8">
		<div class="max-w-screen-xl mx-auto">
			<div class="mb-4">
				<h1 class="mt-8 mb-2">
					<span class="mt-8 block text-4xl leading-8 font-semibold text-gray-900 sm:text-4xl">
						Transgenic Axolotl Lines
					</span>
				</h1>
				<hr>
			</div>
			<h2 class="mt-2 text-xl font-semibold">
					For academic and research usage, please contact the <a class="text-axo-green"
					href="https://ambystoma.uky.edu/genetic-stock-center/"><i>Ambystoma</i>
					genomic stock center</a>.
			</h2> 
			<p class="mt-2 text-lg">
				In the interest of the salamander research community, we may
				supply transgenic lines upon request. Please contact
				<a class="text-axo-green"
				href="mailto:pmurawala@mdibl.org">"pmurawala@mdibl.org"</a>, if
				you are interested in any of the below listed transgenic lines.
				<span class="font-bold italic">We do not supply axolotls to private individuals.</span> 
			</p>
			<p class="mt-8 text-xl font-bold uppercase">
				Disclaimer!!! 
			</p>
			<p class="mt-2">
				Many of these lines are developed by researchers that do not
				belong to our lab. Developing transgenic axolotl is a
				cumbersome process and can take long time to thoroughly
				characterize it. 
				<span class="font-bold italic">Please cite and credit them appropriately
				while using these lines characterize it. </span>
			</p>
			<h3 class="mt-8 text-lg font-semibold">Regular strains</h3>
			<ol class="list-decimal list-inside">
				<li>d/d strain – A white animal with black eyes</li>
				<li>Wild type animals – Black animals</li>
			</ol>
			<h3 class="mt-8 text-lg font-semibold">Ubiquitous fluorescence for grafting studies</h3>
			<ol class="list-decimal list-inside" start=3>
				<li>CAGGs:eGFP – Ubiquitous GFP expression (Sobkow et al, <a class="text-axo-green" href="https://www.sciencedirect.com/science/article/pii/S0012160605008638?via%3Dihub">Developmental Biology</a>, 2006)</li>
				<li>CAGGs:Cherrynls – Ubiquitous nuclear Cherry expression (Kragl et al, <a class="text-axo-green" href="https://www.nature.com/articles/nature08152">Nature</a>, 2009)</li>
			</ol>
			<h3 class="mt-8 text-lg font-semibold">Fluorescent reporters</h3>
			<ol class="list-decimal list-inside" start=7>
				<li class="mt-2">B3Tub:memGFP -> For visualizing neurons (Khattak et al, <a class="text-axo-green" href="https://www.cell.com/stem-cell-reports/fulltext/S2213-6711(13)00003-9">Stem Cell Reports</a>, 2013)</li>
				<li class="mt-2">CarAct:eGFP -> For visualizing muscle fibers (Khattak et al, <a class="text-axo-green" href="https://www.cell.com/stem-cell-reports/fulltext/S2213-6711(13)00003-9">Stem Cell Reports</a>, 2013)</li>
				<li class="mt-2">CNP:eGFP -> For visualizing Schwann cells (Khattak et al, <a class="text-axo-green" href="https://www.cell.com/stem-cell-reports/fulltext/S2213-6711(13)00003-9">Stem Cell Reports</a>, 2013)</li>
				<li class="mt-2">RARE:eGFP -> For visualizing retinoic acid activity (Monaghan et al, <a class="text-axo-green" href="https://www.sciencedirect.com/science/article/pii/S001216061200262X?via%3Dihub">Developmental Biology</a>, 2012)</li>
				<li class="mt-2">Sox2:Cherry -> For visualizing neural progenitors (Fei et al, <a class="text-axo-green" href="https://www.pnas.org/content/114/47/12501">PNAS</a>, 2017)</li>
			</ol>
			<h3 class="mt-8 text-lg font-semibold">Cre drivers</h3>
			<ol class="list-decimal list-inside" start=13>
				<li class="mt-2">CAGGs:ERt-Cre-ERt-T2a-GFPnls -> Ubiquitous inducible Cre driver (Khattak et al, <a class="text-axo-green" href="https://www.cell.com/stem-cell-reports/fulltext/S2213-6711(13)00003-9">Stem Cell Reports</a>, 2013)</li>
				<li class="mt-2">Col1A2:TFPnls-T2a-ERt-Cre-ERt -> For labeling various subtypes of connective tissue cells across the body (Gerber et al, <a class="text-axo-green" href="https://science.sciencemag.org/content/362/6413/eaaq0681">Science</a>,  2018)</li>
				<li class="mt-2">Pax7:Pax7-T2a-memCherry-T2a-ERt-Cre-ERt -> For labeling satellite cells and Pax7 domain of the neural tube (Fei et al, <a class="text-axo-green" href="https://www.pnas.org/content/114/47/12501">PNAS</a>, 2017)</li>
				<li class="mt-2">Prrx1:TFPnls-T2a-Cre-ERt -> For labeling limb mesenchyme derivatives (Gerber et al, <a class="text-axo-green" href="https://science.sciencemag.org/content/362/6413/eaaq0681">Science</a>,  2018)</li>
				<li class="mt-2">Sox2:Sox2-T2a-memCherry-T2a-ERt-Cre-ERt -> For labeling neural progenitors and lateral line cells (Fei et al, <a class="text-axo-green" href="https://www.pnas.org/content/114/47/12501">PNAS</a>, 2017)</li>
			</ol>
			<h3 class="mt-8 text-lg font-semibold">LoxP reporters</h3>
			<ol class="list-decimal list-inside" start=23>
				<li class="mt-2">CAGGs:Brainbow2.1 (Currie et al, Dev Cell, 2016)</li>
				<li class="mt-2">CAGGs:LoxP-GFP-LoxP-Cherry -> GFP to Cherry reporter (Khattak et al, <a class="text-axo-green" href="https://www.cell.com/stem-cell-reports/fulltext/S2213-6711(13)00003-9">Stem Cell Reports</a>, 2013)</li>
			</ol>
		</div>
	</div>
</div>
{{template "footer-nav.html".}}
