{{template "header.html".}}
{{template "app/templates/navbar.html".}}
<div class="relative mt-8 py-10 bg-white overflow-hidden">
    <div class="relative px-4 sm:px-6 lg:px-8">
        <div class="max-w-screen-xl mx-auto">
            <div class="mb-4">
                <h1 class="mt-8 mb-2">
                    <span class="mt-8 block text-4xl leading-8 font-semibold text-gray-900 sm:text-4xl">
                        Salamander Research Labs
                    </span>
                </h1>
                <hr>
                <p class="mt-8 text-lg font-normal">
                    This is a compilation of labs that are working with axolotl and other
                    salamanders. If you would like to be listed on this page or have suggestion for
                    modification, please write an email to <a class="text-axo-green" href="mailto:info@axobase.org">info@axobase.org</a>.
                </p>
                <div class="mt-8">
                    <ol class="list-decimal list-inside">
                        <li class="mt-2"><a class="text-axo-green" target="_blank" href="https://profiles.stanford.edu/maria-barna">Barna Lab</a> - PI: Maria Barna, Stanford University, Stanford, USA</li>
                        <li class="mt-2"><a class="text-axo-green" target="_blank" href="https://www.otago.ac.nz/zoology/staff/beck.html#researchinterests">Beck Lab</a> - PI: Caroline Beck, University of Otago, Otago, New Zealand</li>
                        <li class="mt-2"><a class="text-axo-green" target="_blank" href="https://web.natur.cuni.cz/zoologie/vertebrata/staff/Cerny/">Cerny lab</a> - PI: Robert Cerny, Charles University, Prague, Czechia</li>
                        <li class="mt-2"><a class="text-axo-green" target="_blank" href="https://inside.smcm.edu/directory/karen-crawford">Crawford Lab</a> - PI: Karen Crawford, St. Mary&rsquo;s college of Maryland, USA</li>
                        <li class="mt-2"><a class="text-axo-green" target="_blank" href="https://www.currie-regenerationlab.com/">Currie Lab</a> - PI: Joshua Currie, Wake Forest University, North Carolina, USA</li>
                        <li class="mt-2"><a class="text-axo-green" target="_blank" href="https://www.biomedicas.unam.mx/personal-academico/jesus-chimal-monroy/">Chimal-Monroy Lab</a> - PI: Jes&uacute;s Chimal Monroy, National Autonomous University of Mexico, Mexico</li>
                        <li class="mt-2"><a class="text-axo-green" target="_blank" href="https://crewslab.yale.edu/">Crews Lab</a> - PI: Craig Crews, Yale University, New Haven, USA</li>
                        <li class="mt-2"><a class="text-axo-green" target="_blank" href="https://langebio.cinvestav.mx/en/Dr-Luis-Alfredo-Cruz-Ramirez">Cruz-Ramirez Lab</a> - PI: Luis Alfredo Cruz Ram&iacute;rez, Unidad de Gen&oacute;mica Avanzada, Langebio-Cinvestav, Irapuato, Mexico</li>
                        <li class="mt-2">Delgado Lab - PI: Jean Paul Delgado, Instituto de Biologia,&nbsp;Universidad de Antioquia, Columbia</li>
                        <li class="mt-2"><a class="text-axo-green" target="_blank" href="https://miamioh.edu/cas/academics/departments/biology/about/faculty/del-rio-tsonis/index.html">Del Rio-Tsonis Lab</a> - PI: Katia Del Rio-Tsonis, Miami University, Miami, USA</li>
                        <li class="mt-2"><a class="text-axo-green" target="_blank" href="https://www.mbl.edu/bell/current-faculty/karen-echeverri/">Echeverri Lab</a> - PI: Karen Echeverri, Marine Biological Laboratory, Woodshole, USA</li>
                        <li class="mt-2"><a class="text-axo-green" target="_blank" href="http://ibrr.scnu.edu.cn/a/20180516/123.html">Fei Lab</a> - PI: Ji-Feng Fei, South China Normal University, Guangzhou, China</li>
                        <li class="mt-2"><a class="text-axo-green" target="_blank" href="https://www.museumfuernaturkunde.berlin/en/about/team/nadia.froebisch">Fr&ouml;bisch Lab</a> - PI: Nadia Fr&ouml;bisch, Museum f&uuml;r Naturkunde Leibniz-Institut f&uuml;r Evolutions- und Biodiversit&auml;tsforschung, Berlin, Germany</li>
                        <li class="mt-2"><a class="text-axo-green" target="_blank" href="https://mdibl.org/faculty/james-godwin/">Godwin Lab</a> - PI: James Godwin, Mount Desert Island Biological Laboratory, Bar Harbor, USA</li>
                        <li class="mt-2"><a class="text-axo-green" target="_blank" href="https://seeds.office.hiroshima-u.ac.jp/profile/en.af010ab4b9ed63b2520e17560c007669.html">Hayashi Lab</a> - PI: Toshinori Hayashi, Hiroshima University, Hiroshima, Japan</li>
                        <li class="mt-2"><a class="text-axo-green" target="_blank" href="https://www.gettysburg.edu/academic-programs/biology/faculty/employee_detail.dot?empId=06694308820013271&amp;pageTitle=Ryan+Kerney">Kerney Lab</a> - PI: Ryan Kerney, Gettysburg College, Gettysburg, USA</li>
                        <li class="mt-2"><a class="text-axo-green" target="_blank" href="https://www.bridgewater.edu/academics/faculty/dr-moshe-khurgel/">Khurgel Lab</a>, PI: Khurgel Moshe, Bridgewater college, Virgina, USA</li>
                        <li class="mt-2"><a class="text-axo-green" target="_blank" href="https://leighnd.github.io/">Leigh Lab</a> - PI: Nicholas Leigh, Lund University, Lund, Sweden</li>
                        <li class="mt-2"><a class="text-axo-green" target="_blank" href="https://biology.ufl.edu/malcmaden/">Maden Lab</a> - PI: Malcolm Maden, University of Florida, Gainesville, USA</li>
                        <li class="mt-2"><a class="text-axo-green" target="_blank" href="https://maddinlab.com/">Maddin Lab</a> - PI: Hillary Maddin, Carleton University, Ottawa, Canada</li>
                        <li class="mt-2"><a class="text-axo-green" target="_blank" href="https://www.umb.edu/mccuskerlab">McCusker Lab</a> - PI: Catherine McCusker, University of Massachusetts, Boston, USA</li>
                        <li class="mt-2"><a class="text-axo-green" target="_blank" href="https://web.northeastern.edu/monaghanlab/">Monaghan Lab</a> &ndash; PI: James Monaghan, Northeastern University, Boston, USA</li>
                        <li class="mt-2"><a class="text-axo-green" target="_blank" href="https://murawalalab.mdibl.org/">Murawala Lab</a>, PI: Prayag Murawala, Mount Desert Island Biological Laboratory, Bar Harbor, USA</li>
                        <li class="mt-2"><a class="text-axo-green" target="_blank" href="https://akademik.eskisehir.edu.tr/gurkan.o">&Ouml;zt&uuml;rk Lab</a>, PI: G&uuml;rkan &Ouml;zt&uuml;rk, Medipol University, Istanbul, Turkey</li>
                        <li class="mt-2"><a class="text-axo-green" target="_blank" href="https://www.crystalrogersphd.com/">Rogers Lab</a>, PI: Crystal Rogers, University of California, Davis, USA</li>
                        <li class="mt-2"><a class="text-axo-green" target="_blank" href="https://www.medent.umontreal.ca/fr/faculte/prof/stephane.roy/">Roy Lab</a>, PI: St&eacute;phane Roy, University of Montreal, Montreal, Canada</li>
                        <li class="mt-2"><a class="text-axo-green" target="_blank" href="https://tu-dresden.de/cmcb/crtd/forschungsgruppen/crtd-forschungsgruppen/sandoval-guzman">Sandoval-Guzm&aacute;n Lab</a>, PI: Tatiana Sandoval-Guzm&aacute;n, Centre for Regenerative Therapies, Dresden, Germany</li>
                        <li class="mt-2"><a class="text-axo-green" target="_blank" href="https://okayama.pure.elsevier.com/en/persons/akira-sato">Satoh Lab</a>, PI: Akira Satoh, Okayama University, Okayama, Japan</li>
                        <li class="mt-2"><a class="text-axo-green" target="_blank" href="http://www.ashleyseifert.com/home.html">Seifert Lab</a>, PI: Ashley Seifert, University of Kentucky, Lexington, USA</li>
                        <li class="mt-2"><a class="text-axo-green" target="_blank" href="https://ki.se/en/cmb/andras-simons-group">Simon Lab</a>, PI: Andr&aacute;s Simon, Karolinska institute, Stockholm, Sweden</li>
                        <li class="mt-2"><a class="text-axo-green" target="_blank" href="https://bio.as.uky.edu/users/jjsmit3">Smith Lab</a>, PI: Jeramiah Smith, University of Kentucky, Lexington, USA</li>
                        <li class="mt-2"><a class="text-axo-green" target="_blank" href="http://tanakalab.org/">Tanaka Lab</a>, PI: Elly Tanaka, Research - Institute of Molecular Pathology, Vienna, Austria</li>
                        <li class="mt-2"><a class="text-axo-green" target="_blank" href="https://www.whitedlab.com/">Whited Lab</a>, PI: Jessica Whited, Harvard University, Boston, USA</li>
                        <li class="mt-2"><a class="text-axo-green" target="_blank" href="https://tu-dresden.de/cmcb/crtd/forschungsgruppen/crtd-forschungsgruppen/yun">Yun Lab</a>, PI: Maximina Yun, Centre for Regenerative Therapies, Dresden, Germany</li>
                        <li class="mt-2"><a class="text-axo-green" target="_blank" href="http://www.vosslab.com/">Voss Lab</a>, PI: Stephen Randal Voss, University of Kentucky, Lexington, USA</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
{{template "footer-nav.html".}}