<!-- This example requires Tailwind CSS v2.0+ -->
<footer class="bg-white">
  <div class="mt-10 max-w-7xl mx-auto py-12 px-4 overflow-hidden sm:px-6 lg:px-8">
    <nav class="-mx-5 -my-2 flex flex-wrap justify-center" aria-label="Footer">
      <div class="px-5 py-2">
        <a href="{{url "App.Nomenclature"}}" class="text-sm text-gray-500 hover:text-gray-900">
          Nomenclature
        </a>
      </div>

      <div class="px-5 py-2">
        <a href="{{url "App.Databases"}}" class="text-sm text-gray-500 hover:text-gray-900">
          Databases
        </a>
      </div>

      <div class="px-5 py-2">
        <a href="{{url "App.Lines"}}" class="text-sm text-gray-500 hover:text-gray-900">
          Transgenic Axolotl Lines
        </a>
      </div>

      <div class="px-5 py-2">
        <a href="{{url "App.Antibodies"}}" class="text-sm text-gray-500 hover:text-gray-900">
          Salamander Antibodies
        </a>
      </div>

      <div class="px-5 py-2">
        <a href="{{url "App.ResearchLabs"}}" class="text-sm text-gray-500 hover:text-gray-900">
          Salamander Research Labs
        </a>
      </div>

      <div class="px-5 py-2">
        <a href="{{url "App.Opportunities"}}" class="text-sm text-gray-500 hover:text-gray-900">
          Opportunities
        </a>
      </div>

      <div class="px-5 py-2">
        <a href="{{url "App.About"}}" class="text-sm text-gray-500 hover:text-gray-900">
          Who We Are
        </a>
      </div>

    </nav>
    <p class="mt-8 text-center text-sm text-gray-400">
      &copy; 2021 Axobase.org. All rights reserved.
    </p>
  </div>
</footer>